
    <div class="footer-container">
        <div class="footer-content-container">
            <h3 class="website-logo">Lo que ellas quieren</h3>
            <span class="footer-info">+54 3804206496</span>
            <span class="footer-info">loqueellasquieren@gmail.com</span>
        </div>
        <div class="footer-menus">

            <div class="footer-content-container">
                <span class="menu-title">menu</span>
                <a href="" class="menu-item-footer">Incio</a>
                <a href="" class="menu-item-footer">Productos</a>
                <a href="" class="menu-item-footer">Accesorios</a>
            </div>

            <div class="footer-content-container">
                <span class="menu-title">legal</span>
                <a href="" class="menu-item-footer">Politica privada</a>
                <a href="" class="menu-item-footer">Cookies</a>
                <a href="" class="menu-item-footer">Terminos y condiciones</a>
            </div>

            <div class="footer-content-container">
                <span class="menu-title">¡Seguinos!</span>
                <div class="social-container">
                    <a href="" class="social-link"></a>
                    <a href="" class="social-link"></a>
                    <a href="" class="social-link"></a>
                </div>
            </div>

            <div class="copyright-container">
                <span class="copyright">&copy; 2021, LQEQ</span>
            </div>

        </div>
    </div>
