<%- include("partials/head") %>

  <!--INICIO DLE HEADER-->
  <%- include("partials/header") %>
  <!--FIN DEL HEADER-->

<body>

  <div class="slider">
      <ul>
          <li><img src="images/TEMPORADA 2022 (1).gif" alt=""></li>
          <li><img src="images/TEMPORADA 2022. (2).gif" alt=""></li>
          <li><img src="images/TEMPORADA 2022 (3).gif" alt=""></li>
          <li><img src="images/Vení y probate lo que quieras.gif" alt=""></li>
      </ul>
  </div>

 <div class="container">

      <div class="card">
          <img src= "images/registrate.gif">
          <h4>Registrate</h4>
          <p>¡Unite a nosotros completando un sencillo formulario!</p>
          <a href="">Crear usuario</a>
      </div>

      <div class="card">
        <img src= "images/elegi.gif">
        <h4>Elegí</h4>
        <p>¡Agrega al carrito los productos que desees!</p>
        <a href="">Productos</a>
    </div>

    <div class="card">
        <img src= "images/paga.gif">
        <h4>¡Comprá!</h4>
        <p>¿Ya sabes lo que queres? ¡Compralo!</p>
        <a href="">Carrito</a>
    </div>

  </div>

   

</body>
 <!--COMIENZO DEL FOOTER-->
 <%- include("partials/footer") %>
 <!--FIN DEL FOOTER-->

</html>