<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <title>LQEQ</title>
    <meta http-equiv="X - UA - Compatible" contect="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@200&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

  <!--INICIO DLE HEADER-->
  <%- include("partials/header") %>
  <!--FIN DEL HEADER-->

<body>

  <div class="slider">
      <ul>
          <li><img src="images/TEMPORADA 2022 (1).gif" alt=""></li>
          <li><img src="images/TEMPORADA 2022. (2).gif" alt=""></li>
          <li><img src="images/TEMPORADA 2022 (3).gif" alt=""></li>
          <li><img src="images/Vení y probate lo que quieras.gif" alt=""></li>
      </ul>
  </div>

  <div class="container">

      <div class="card">
          <img src= "images/registrate.gif">
          <h4>Registrate</h4>
          <p>¡Unite a nosotros completando un sencillo formulario!</p>
          <a href="">Crear usuario</a>
      </div>

      <div class="card">
        <img src= "images/elegi.gif">
        <h4>Elegí</h4>
        <p>¡Agrega al carrito los productos que desees!</p>
        <a href="">Productos</a>
    </div>

    <div class="card">
        <img src= "images/paga.gif">
        <h4>¡Comprá!</h4>
        <p>¿Ya sabes lo que queres? ¡Compralo!</p>
        <a href="">Carrito</a>
    </div>

  </div>

    <!--COMIENZO DEL FOOTER-->
    <%- include("partials/footer") %>
    <!--FIN DEL FOOTER-->

</body>

</html>